{%extends 'base.html'%}
{%load static%}
{%block content%}

<!-- HERO SECTION -->
    <section>
    <div class="flex">
        <div class="hero-text">
        <img src="{%static 'images/hero-ele.png'%}" alt="" height=40px>
        <span class="pop-bold">Raise your voice</span>
        <div style="margin-left: 40px">Say sayonara to malfunctioning coolers or unhygenic washrooms! With ‘accountable’ as your sidekick you can reach out to the administration of the college and students facing similar those bugging problems. We promise to provide a safe place and request you to mantain the sanctity of the platform!</div>
        <div class="drop-box" style="margin-left:40px">Be the voice</div>
    </div>
        <img src="{%static 'images/hero.gif'%}" alt="">
    </div>
    </section>
</body>
{%endblock content%}